@mixin container(
  $max-widths: $container-max-widths
) {
  margin-left: auto;
  margin-right: auto;

  @each $breakpoint, $container-max-width in $max-widths {
    @media (min-width: $container-max-width) {
      max-width: $container-max-width;
    }
  }
}
