@mixin post-title(
  $text-color:      $gray-dark,
  $accent-color:    $brand-blue,
  $post-title-font-size: $display4-size
) {
  a {
    display: block;
    color: $text-color;
    font-size: $post-title-font-size;
    font-weight: normal;

    &:hover {
      text-decoration: none;
    }
  }
}

