!!!
%html(lang="ja")
  %head
    = partial 'partials/head'
  %body
    #main(role="main")
      = yield

    = partial "partials/sub_contents", locals: { articles: blog.articles[0...10], tags: blog.tags }
    = partial "partials/footer"
