.nav-wrapper
  %nav
    %div
      %a(href="/") トップページ
    %div.spacer /
    %div
      %a(href="/about") 情報科学若手の会について
    %div.spacer /
    %div
      = link_to "開催案内", tag_path("開催案内")
    %div.spacer /
    %div
      = link_to "開催報告", tag_path("開催報告")
    %div.spacer /
    %div
      %a(href="/code-of-conduct") 行動規範
    %div.spacer /
    %div
      %a(href="/privacy-policy") プライバシーポリシー
