$brand-blue:  #81cee2;
$brand-green: #ace5ac;
$brand-yellow:   #efef60;

$brand-blue-dark:   shade($brand-blue, 50%);
$brand-blue-light:  tint($brand-blue, 50%);
$brand-green-dark:  shade($brand-green, 50%);
$brand-green-light: tint($brand-green, 50%);

$brand-gradient-angle:  135deg;
$brand-gradient:        linear-gradient($brand-gradient-angle, $brand-blue, $brand-green);
$brand-gradient-dark:   linear-gradient($brand-gradient-angle, $brand-blue-dark, $brand-green-dark);
$brand-gradient-light:  linear-gradient($brand-gradient-angle, $brand-blue-light, $brand-green-light);

$gray-dark:     #333;
$gray:          #666;
$gray-light:    #999;
$gray-lighter:  #ccc;
$gray-lightest: #f5f5f5;
