@mixin before-text(
  $content: '',
  $margin-right: .5em,
  $color: $gray-light
) {
  &:before {
    @include insert-text($content, $margin-right, $color);
  }
}

@mixin insert-text($content, $margin-right, $color) {
  content: $content;
  margin-right: $margin-right;
  color: $color;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
