$body-color:  $gray-dark;
$body-bg:     $brand-gradient-light;

$shadow-color: rgba($gray-dark, .4);

// https://github.com/twbs/bootstrap/blob/fcb41c7afddc60e65218eaa7d4c95a76bc22380d/scss/_variables.scss#L131-L140
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
);

// Spacing      --------------------------------

$spacer:            1rem;


// Typography   --------------------------------

$font-family-base: Hiragino Sans,
                   "ヒラギノ角ゴシック",
                   Hiragino Kaku Gothic ProN,
                   "ヒラギノ角ゴ ProN W3",
                   Roboto,
                   "Droid Sans",
                   YuGothic,
                   "游ゴシック",
                   Meiryo,
                   "メイリオ",
                   Verdana,
                   "ＭＳ Ｐゴシック",
                   sans-serif;

$font-size-root: 12px;

$font-size-base: 1.00rem;
$font-size-lg:   1.25rem;
$font-size-sm:   0.875rem;

$line-height-base: 2;

$font-size-h1:  1.50rem;
$font-size-h2:  1.40rem;
$font-size-h3:  1.30rem;
$font-size-h4:  1.20rem;
$font-size-h5:  1.10rem;
$font-size-h6:  1.00rem;

$display1-size: 4.0rem;
$display2-size: 3.0rem;
$display3-size: 2.0rem;
$display4-size: 1.75rem;

// Headings     --------------------------------

$headings-margin-bottom:  ($spacer / 2);
$headings-font-family:    inherit;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:           inherit;


// Link         --------------------------------

$link-color:            $brand-blue;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;


// Blockquote   --------------------------------

$blockquote-margin:   $spacer 0;
$blockquote-padding:  $spacer $spacer*2;
$blockquote-border:   $spacer / 2 solid $gray-lightest;
$blockquote-bg:       $gray-lightest;


// Card         --------------------------------

$default-card-bg:             white;
$default-card-shadow:         1px 1px 1px $shadow-color;
$default-card-border-radius:  3px;
$default-card-padding:        16px;
