.global-header {
  margin-bottom: 32px;
  background: $brand-gradient-dark;
  box-shadow: $default-shadow;

  h1 {
    @include container;
    margin-top: 0;
    padding: 32px;

    a {
      display: block;
    }
  }
}

.nav-wrapper {
  background-color: rgba(0, 0, 0, 0.3);

  nav {
    display: flex;

    @include container

    > div {
      margin-left: 1rem;
      font-size: $font-size-lg;
    }
  }
}
