.sub-contents {
  padding: 32px 16px;
  margin-top: 32px;
  color: white;
  background: linear-gradient(0deg, $gray-dark, lighten($gray-dark, 5%));

  .post-groups {
    @include container;
    @include markdown(white, $brand-yellow, $gray-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .post-group {
      flex: 1 1 auto;
    }
  }
}
