= partial "partials/narrow-header"
%main
  %article.post
    .post-header
      %h1.post-title 情報科学若手の会について

    .post-body
      情報科学若手の会は次の3つを目的とした、情報科学に携わる学生、若手研究者、社会人のディスカッションと交流の会です。

      %ul
        %li 活発な討論の中から若手研究者ならではの斬新な発想を生み出し、情報科学・情報工学の新しい可能性を考え、将来の夢を語り合う。
        %li 専門分野だけでなく情報科学のさまざまな分野で活躍する若手どうしの討論を通して視野を広げる。
        %li 専門分野にこだわらず、情報科学の全般に渡る若手研究者の横の繋がりを広げる。

      1968年7月から続く由緒正しきイベントで、2017年には50回目の開催を迎えました。
      学会や研究会を基本的なスタンスとしており、情報科学に関する幅広い話題に関する議論を通して新たな発想が生まれることを目指して、次のコンセプトを掲げて運営しています。

      %ul
        %li 参加者同士が活発な議論を通して交流できる場を作ること
        %li 幅広い分野・年代の方に参加していただくこと
        %li 参加者の方に若手の会の3日間を楽しんでいただくこと

      インフォーマルな雰囲気ですので、これから研究を始めるという方も是非ご参加下さい。

      %h1 主催
      一般社団法人 情報処理学会 プログラミングシンポジウム委員会

      %h1 例年の開催概要
      毎年夏〜秋頃に2泊3日の合宿形式で実施しており、参加者の約半数が「はじめまして」です。
      招待講演、若手特別講演、一般発表、ショート発表、交流イベント、ナイトセッションが行われます。

      %h2 招待講演
      情報科学の分野で話題となっているテーマについて、研究者や開発者による講演です。
      過去の招待講演ではサイバーセキュリティや宇宙開発、アグリテックなどについてお話していただきました。

      %h2 若手特別講演
      情報科学の分野で特に活躍している若手研究者による講演です。
      過去の若手特別講演ではプログラミング方法論のコンテンツ制作への応用や、小型ドローン開発などについてお話していただきました。

      %h2 一般発表・ショート発表
      発表者を募集し、情報科学に関わるテーマで発表していただきます。
      IoT、クラウド、プログラミング言語、機械学習、マシントレード、HCIなど、情報科学に関わる幅広い分野の発表があります。

      %h2 交流イベント
      参加者同士が交流するきっかけづくりのために、協力して行うようなゲームを実施しています。
      クイズに答えて材料を集めてLANケーブルを作成したり、
      パスタやマシュマロを使ってタワーを立てたり、
      毎年様々ゲームを企画しています。

      %h2 ナイトセッション
      参加者同士の自由な交流のために、ナイトセッションを設けています。
      飲み物や食べ物を用意し、ライトニングトークを交えながら活発な議論が行われます。

      %h1 情報科学若手の会幹事
      %ul
        %li 久下 柾 (奈良先端科学技術大学院大学)
        %li 石 立行 (東京大学)
        %li 井上 紘太朗 (LINE株式会社)
        %li 黒崎 優太 (株式会社サイバーエージェント)
        %li 武田 真之
        %li 田中 京介
        %li 松本 直樹 (京都大学大学院)

      %h1 連絡先
      %ul
        %li
          メールアドレス info [at] wakate.org
        %li
          %a(href="https://www.facebook.com/wakate.is")Facebookページ @wakate.is
        %li
          %a(href="https://twitter.com/is_wakate")Twitterページ @is_wakate

      %h1 wakate-announce メーリングリスト
      次回以降の情報科学若手の会に関するメールでの連絡をご希望の方は、次のフォームよりご登録ください。
      %a(href="https://goo.gl/forms/FRP0m7rih08qrpwr2")https://goo.gl/forms/FRP0m7rih08qrpwr2
