---
pageable: true
---
= partial "partials/narrow-header"
%main
  :ruby
    pages = []
    if ['year', 'month', 'day'].include?(page_type)
      pages << { name: year, url: blog_year_path(year) }
    end
    if ['month', 'day'].include?(page_type)
      pages << { name: month, url: blog_month_path(year, month) }
    end
    if ['day'].include?(page_type)
      pages << { name: day, url: blog_day_path(year, month, day) }
    end
  = partial "partials/posts", locals: { articles: page_articles }
  = partial "partials/pagination"
