= partial "partials/narrow-header"
%main
  %article.post
    .post-header
      %h1.post-title 行動規範 (Code of Conduct)

    .post-body
      %p
        情報科学若手の会は、情報科学に携わる学生、若手研究者、社会人のディスカッションと交流の会です。
        幅広い分野から参加者を募り、互いの交流を深めることで新たな発想が生まれることを目指しています。

      %p
        我々情報科学若手の会 幹事一同は、すべての参加者が本会から歓迎され、楽しんでいただくことを目指しています。

      %p
        そのためには、本会における主催者や幹事、登壇者、聴講者を含む全ての参加者の皆様は、本行動規範に則って他の参加者に対して敬意と礼儀をもって参加いただくようにお願いいたします。

      %ul
        %li 情報科学若手の会では全ての人を歓迎します。そのために、他の参加者が不快に感じる行為はそれがどのような形であっても許容いたしません。
        %li 参加者の皆さまは他の参加者の様々な背景に配慮してください。あなたの何気ない発言や行動で悲しむ人がいるかもしれません。注意深く、優しく振る舞ってください。
        %li 我々幹事は参加者の皆さまの権利を守るため、規範に反する方へ注意だけではなく本会から退場させたり、場合によっては法的機関への相談など、適切と思われる対応をおこないます。
        %li もしあなたないし、他の参加者がハラスメント行為を受けた場合、幹事にご相談ください。お知らせ頂いた内容は法的な情報開示の必要性がある場合を除いて、あなたの同意がないかぎり匿名で扱いますのでご安心ください。

      ※ 本文書は
      %a(href="https://docs.google.com/document/d/16VhNCZBWWwjQQXkSXfg6evR1frdHHbHb7g-m80xSrgA") builderscon Code of Conductとして公開された文書
      を参考にしています

      %br
      ※ 本文章は
      %a(href="https://creativecommons.org/publicdomain/zero/1.0/") Creative Commons Zero ライセンス
      で公開されています
