---
pageable: true
per_page: 10
---

.jumbotron
  %h1
    %a(href="/")
      = image_tag "logo-light-vertical.png", alt: "情報科学若手の会"
  %p.lead
    情報科学若手の会は、情報科学に携わる学生、若手研究者、 社会人のディスカッションと交流の会です。
    %br
    幅広い分野から参加者を募り、 互いの交流を深めることで新たな発想が生まれることを目指しています。
    %br
    インフォーマルな雰囲気ですので、これから研究を始めるという方も是非ご参加下さい。
    %br
    情報科学若手の会についての詳細は、
    %a(href="/about")こちら
    をご覧ください。

%main
  = partial "partials/posts", locals: { articles: page_articles }
  = partial "partials/pagination"
