= partial "partials/narrow-header"
%main
  %article.post
    .post-header
      %h1.post-title プライバシーポリシー

    .post-body
      情報科学若手の会は、プライバシーポリシーを以下のように定め、個人情報の適切な保護に努めます。

      %h1 定義

      %ol
        %li 「本会」とは情報科学若手の会を指します
        %li 「個人情報」とは個人情報の保護に関する法律（平成十五年五月三十日法律第五十七号）に定める個人情報（生存する個人に関する情報であり、特定の個人を識別可能なものを言い、氏名、住所、電話番号等を含みます。）並びに特定の個人と結びついて使用されるメールアドレスやSNSアカウントなどの情報及びそれらと一体となった個人に関する情報を指すものとします。

      %h1 個人情報の収集

      本会は、本会が主催する各イベントの利用者、および本会の開催に関わる審査・選考の関係者から任意に提供される情報を必要な範囲で収集します。個人情報を収集する際は、その目的を明示するとともに、提供者の意思に基づくことを原則とします。

      %h1 個人情報の利用

      本会は、提供いただいた個人情報を次の目的の範囲内で利用します。
      また、提供いただいた個人情報は特段の事情がある場合を除き、本人の同意なく第三者へ開示提供することはありません。

      %ol
        %li 本人確認、イベント申し込みに関するサービスの提供、料金の請求、及び利用サービス提供条件の変更・停止・中止・契約解除の通知
        %li イベントの開催案内等、イベント運営に関わる必要な情報の提供
        %li 上記の他、本会の各種サービスに関する情報提供やサービス向上のための調査

      上記の目的で個人情報を利用するとき、特に次の外部サービスを利用することがあります。外部サービスにおける個人情報の取扱いについては、それぞれの外部サービスのプライバシーポリシーをご確認下さい。

      %ol
        %li
          %a(href="https://connpass.com/") Connpass
        %li
          %a(href="https://drive.google.com/") Google Drive
        %li
          %a(href="https://www.google.com/analytics/") Google Analytics
          (※1)

      (※1)Google Analyticsから提供されるcookieを使用して匿名のトラフィックデータを収集することがあります。

      また次のいずれかの場合には上記の収集目的以外に個人情報を利用し、または開示提供することがあります。

      %ol
        %li 法令の規定に基づくとき
        %li 提供者本人の同意があるとき
        %li イベント運営目的の達成のために必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合（例えば、配送等のサービスを委託する場合など）

      %h1 個人情報の管理

      本会は、収集した個人情報を適切に管理するように努めます。

      %h1 個人情報の開示および訂正等

      本会は、個人情報の提供者から自己に関する個人情報の開示の請求があったときは、原則として遅滞なく開示します。また、自己に関する個人情報の訂正等の申し出があったときは、原則として遅滞なく訂正等を行います。

      %h1 プライバシーポリシーの変更について

      本会は、予告無くプライバシーポリシーを改定することがあります。プライバシーポリシーの改定があったときは、本会が運営するウェブサイトに遅滞なく掲載いたします。

      %h1 個人情報の取り扱いに関する問い合わせ先

      本会における個人情報保護に関してご質問などがある場合は、 info@wakate.org までご連絡下さい。
